@import "tailwindcss";

@theme inline {
  --color-background: #140316;
  --color-foreground: #fde5ff;
  --color-primary: #833389;
  --color-primary-muted: #68246d;
  --color-contrast: #f79100;
  --color-contrast-muted: #de8200;
  --font-rubik: var(--font-rubik);
}

.bg-gradient {
  background: linear-gradient(
    to top,
    #5a092a 0%,
    #3d0622 19%,
    #20041a 40%,
    var(--color-background) 100%
  );
}
